/* This file is part of the BIMData Platform package.
(c) BIMData support@bimdata.io
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code. */
.slide-fade-enter-active{
  @include transition(all .15s ease);
}
.slide-fade-leave-active{
  @include transition(all .25s cubic-bezier(1.0, 0.5, 0.8, 1.0));
}
.slide-fade-enter, .slide-fade-leave-to{
  opacity: 0;
}

.page-enter-active, .page-leave-active{
  @include transition(opacity 1s, transform 1s);
}
.page-enter, .page-leave-to{
  opacity: 0;
  @include transform(translateX(-30%));
}

.slide-bottom-fade-enter-active {
  transition: all .3s ease;
}
.slide-bottom-fade-leave-active {
  transition: all .3s cubic-bezier(1.0, 0.5, 0.8, 1.0);
}
.slide-bottom-fade-enter, .slide-bottom-fade-leave-to {
  transform: translateY(-10px);
  opacity: 0;
}
