body{
  height: 100vh;
}

.row + .row{
  margin-top: $grid-gutter-width;
}

.shadowed-content{
  box-shadow: $bd-box-shadow;
}

.no-borders{
  border: none;
}

.ellipsis{
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.noselect{
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}
