/* This file is part of the BIMData Platform package.
(c) BIMData support@bimdata.io
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code. */
/* recommended css code for vue-svgicon */
.svg-icon{
  display: inline-block;
  width: 16px;
  height: 16px;
  color: inherit;
  vertical-align: middle;
  fill: none;
  stroke: currentColor;
}

.svg-fill{
  fill: currentColor;
  stroke: none;
}

.svg-up{
  @include transform(rotate(0deg));
}

.svg-right{
  @include transform(rotate(90deg));
}

.svg-down{
  @include transform(rotate(180deg));
}

.svg-left{
  @include transform(rotate(-90deg));
}
