.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/test/unit/coverage
/test/e2e/reports
selenium-server.log

!cypress/videos/.gitkeep
cypress/videos/**

!/src/assets/images/icons/compiled/.gitkeep
/src/assets/images/icons/compiled
selenium-debug.log
config/bim.env.js
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
