/* This file is part of the BIMData Platform package.
(c) BIMData support@bimdata.io
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code. */
form button{
  border-radius: 3px;
}
.form-control{
  border: 1px solid $border-color;
  color: $color-primary;
  @include font-size(12px);
}
.login__submit{
  padding-top: 0.7857rem * 0.8;
  padding-bottom: 0.7857rem * 0.7;
  border-radius: 3px;
}
.form__button--large{
  width: 100%;
}
