@mixin caret-down{
  content: "keyboard_arrow_down";
}

@mixin caret-up{
  content: "keyboard_arrow_up";
}

@mixin caret-right{
  content: "keyboard_arrow_right";
}

@mixin caret-left{
  content: "keyboard_arrow_left";
}

@mixin caretCustom($direction: down){
  @if $enable-caret{
    &::after{
      margin-left: $caret-width * .85;
      display: inline-block;
      font-family: 'Material Icons';
      vertical-align: center;
      @if $direction == down{
        @include caret-down;
      } @else if $direction == up{
        @include caret-up;
      } @else if $direction == right{
        @include caret-right;
      }
    }

    @if $direction == left{
      &::after{
        display: none;
      }

      &::before{
        display: inline-block;
        content: "";
        @include caret-left;
      }
    }

    &:empty::after{
      margin-left: 0;
    }
  }
}
