$base-upload-area: 'upload-area';

.#{$base-upload-area} {

  .uppy-Dashboard-inner {
    background-color: transparent !important;
    border: 2px dashed $primary !important;
    border-radius: 8px !important;
    height: 160px;
    width: 100% !important;
  }

  .uppy-Dashboard-dropFilesTitle {
    color: #959595 !important;
    font-size: 1rem !important;
    span {
    position: relative;
      &:after {
        position: absolute;
        top: -50px;
        left: calc(50% - 12.5px);
        display: inline-block;
        content: '';
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iIzJGMzc0QSIgZD0iTTE0LDEzVjE3SDEwVjEzSDdMMTIsOEwxNywxM00xOS4zNSwxMC4wM0MxOC42Nyw2LjU5IDE1LjY0LDQgMTIsNEM5LjExLDQgNi42LDUuNjQgNS4zNSw4LjAzQzIuMzQsOC4zNiAwLDEwLjkgMCwxNEMwLDE3LjMxIDIuNjksMjAgNiwyMEgxOUMyMS43NiwyMCAyNCwxNy43NiAyNCwxNUMyNCwxMi4zNiAyMS45NSwxMC4yMiAxOS4zNSwxMC4wM1oiIC8+PC9zdmc+);
        background-size: 50px 50px;
        height: 50px;
        width: 50px;
      }
    }
  }

  .uppy-Dashboard-browse {
    color: #959595 !important;
    text-decoration: underline;
  }

  .uppy-c-btn-primary {
    background-color: $primary !important;
  }

  .uppy-DashboardItem-remove {
    svg {
      path:first-child {
        fill: $primary;
      }
    }
  }

}