/* This file is part of the BIMData Platform package.
(c) BIMData support@bimdata.io
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code. */
$base-card-name: 'base-card';
$card-header-color: #F8F8F9;
$toolbox-background: #E6E6E6;

.#{$base-card-name}{
  padding: 0;
  max-width: 100%;
  position: relative;
  background-color: $color-white;
  box-shadow: $bd-box-shadow;
  font-weight: normal;
  text-align: left;
  &__header{
    height: 40px;
    background-color: $card-header-color;
    @include flexbox;
  }
  &__title-container{
    padding: 15px;
    color: $color-primary;
    flex: 1 auto;
    line-height: 1rem;
    @include font-size(13px);
  }
  &__expand{
    padding: 10px;
    background-color: $toolbox-background;
    cursor: pointer;
  }
  &__content{
    padding: 1rem;
    min-height: 428px;
    display: grid;
    @include align-items(center);
    .base-button-empty__container{
      .btn{
        width: 121px;
        height: 33px;
      }
    }
  }
  &__link{
    &:hover {
      text-decoration: none;
    }
  }
}