$base-button-tool: 'base-button-tool';

.#{$base-button-tool}{
  width: 32px;
  height: 32px;
  background-color: $color-white;
  box-shadow: $bd-box-shadow;
  @include flexbox;
  @include align-items(center);
  @include justify-content(center);
  svg{ @include transition(color .15s linear); }
  &:hover{
    cursor: pointer;
    svg{ color: $color-primary; }
  }
  &.is-active{
    svg{ color: $color-primary; }
  }
}
