$arrow-color: #94979A;

.model-preview {
  position: relative;
  overflow: hidden;
  display: block;
  .model-image-wrapper {
    display: block;
    overflow: hidden;
    position: relative;
    margin: 0 auto;
  }
  .model-image-holder {
    position: absolute;
    height: 100%;
    width: auto;
    left: 0;
    top: 0;
    img {
      height: 100%;
      width: auto;
    }
  }
  &-counter {
    position: absolute;
    top: 19px;
    right: 16px;
    font-size: 15px;
    color: #95989A;
  }
}

.model-preview-controls {
  .model-control {
    position: absolute;
    bottom: -45px;
    height: 29px;
    width: 29px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 100%;
    cursor: pointer;
    transition: all 0.25s ease;

    &:hover {
      background: #F6F6F6;
      color: $primary;
    }

    &__left {
      right: 48px;
    }
    &__right {
      right: 11px;
    }
  }
  .model-control-button {
    z-index: 1;
    text-align: center;
    position: absolute;
    top: 13px;
    left: 11px;
    width: 100%;

    .btn {
      min-width: 85px;
    }
  }
}

.model-preview-slider {
  position: relative;
}
