$base-table-spaced: 'table-spaced';

.#{$base-table-spaced}{
  font-weight: normal;
  text-align: left;
  @include font-size(13px);
  .error-message{
    color: #F40C0C;
    @include font-size(12px);
  }
  &__head{
    margin-bottom: $grid-gutter-width;
    color: $color-primary;
  }
  &__items{
    padding: 10px 1%;
    word-break: break-word;
    @include flexbox;
    @include align-items(center);

    @include media-breakpoint-up(md){
      word-break: unset;
    }

    & ~ &{
      border-left: 1px solid $border-color;
    }
    .base-button-action{
      width: 100%;
      min-width: auto;
      max-width: 148px;
    }
  }
  &__header-items{
    color: $color-primary;
  }
  &__body{
    color: $body-color;
  }
  &__row {
    margin-bottom: $grid-gutter-width / 2;
    background: $color-white;
    box-shadow: $bd-box-shadow;
    @include flexbox;
  }
}
