/* This file is part of the BIMData Platform package.
(c) BIMData support@bimdata.io
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code. */
$base-upload-area: 'upload-area';

.#{$base-upload-area} {

  .uppy-StatusBar:not([aria-hidden=true]).is-waiting {
    background: $white;
  }
  .uppy-DashboardTabs {
    background: $white;
  }
  .uppy-Dashboard-inner {
    border: 2px dashed $primary !important;
    border-radius: 8px !important;
    min-width: 100% !important; //Override uppy.min.css file
    min-height: 200px !important; //Override uppy.min.css file
    background: $body-bg !important; //Override uppy.min.css file
  }
  .uppy-Dashboard-innerWrap{
    min-height: auto !important;
  }
  .uppy-Dashboard-files{
    padding: 0 !important;
  }
  &.#{$base-upload-area}-ifc{
    margin-top: $grid-gutter-width;

    .uppy-Dashboard-filesContainer {
      background: $body-bg;
    }
    .uppy-DashboardTabs {
      background: $body-bg;
    }
    .uppy-StatusBar:not([aria-hidden=true]).is-waiting {
      background: $body-bg !important; //Override uppy.min.css file
    }
  }

  .uppy-Dashboard-filesContainer {
    background: $white;
  }
  .uppy-Dashboard-dropFilesTitle {
    color: #959595 !important;
    font-size: 1rem !important;
    span {
      position: relative;
      display: block;
      &:before{
        margin: 0 auto;
        width: 50px;
        height: 50px;
        content: '';
        display: block;
        background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48IURPQ1RZUEUgc3ZnIFBVQkxJQyAiLS8vVzNDLy9EVEQgU1ZHIDEuMS8vRU4iICJodHRwOi8vd3d3LnczLm9yZy9HcmFwaGljcy9TVkcvMS4xL0RURC9zdmcxMS5kdGQiPjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgdmVyc2lvbj0iMS4xIiB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCI+PHBhdGggZmlsbD0iIzJGMzc0QSIgZD0iTTE0LDEzVjE3SDEwVjEzSDdMMTIsOEwxNywxM00xOS4zNSwxMC4wM0MxOC42Nyw2LjU5IDE1LjY0LDQgMTIsNEM5LjExLDQgNi42LDUuNjQgNS4zNSw4LjAzQzIuMzQsOC4zNiAwLDEwLjkgMCwxNEMwLDE3LjMxIDIuNjksMjAgNiwyMEgxOUMyMS43NiwyMCAyNCwxNy43NiAyNCwxNUMyNCwxMi4zNiAyMS45NSwxMC4yMiAxOS4zNSwxMC4wM1oiIC8+PC9zdmc+);
        background-size: 50px 50px;
      }
    }
  }
  .uppy-Dashboard-browse{
    color: $gray4 !important;
    text-decoration: underline;
  }
  .uppy-c-btn-primary{
    background-color: $color-primary !important;
  }
  .uppy-DashboardItem-remove{
    svg{
      path:first-child{
        fill: $color-primary;
      }
    }
  }
  .new_folder_box{
    left: calc(50% - 207px/2);
    top: calc(50% - 101px/2);
    &__overlay{
      position: absolute;
      background-color: rgba(47,55,74,.8);
    }
  }
}
.uppy-Dashboard--modal.uppy-Dashboard--animateOpenClose>.uppy-Dashboard-inner{
  min-width: auto !important;
  min-height: auto !important;
}
