$base-button-option: 'base-button-option';

.#{base-button-option} {
  &__tool {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    width: 27px;
    height: 27px;
    
    &:hover {
      cursor: pointer;
    }

    &.clicked {
      &:after {
        animation-name: circle;
        animation-duration: .5s;
      }
    }

    &:after {
      transition: .15s linear all;
      display: inline-block;
      content: '';
      width: 27px;
      height: 27px;
      border-radius: 50%;
      background-color: $primary;
      position: absolute;
      left: 0;
      top: 0;
      transform: scale(0);
    }
  }

  &__menu {
    color: $body-color;
    position: absolute;
    top: 25px;
    right: 7px;
    background: $white;
    border-radius: 3px;
    box-shadow: $bd-box-shadow;
    padding: 8px 0;
    border: 1px solid $border-color;
    text-align: left;
    z-index: 250;
    width: 114px;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      z-index: 1500;
      li {
        padding: 7px 12px;
        line-height: 1em;
        color: #2F374A;
        display: flex;
        align-items: center;

        &:hover,
        &.actif {
          background: #F2F2F2;
        }
      }
    }

    &__remove {
      position: relative;

      .delete__actions {
        position: absolute;
        right: 0;
        bottom: 50%;
        height: 41px;
        width: 85px;
        background: $white;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,.07);
        transform: translateY(50%);
        
        .check,
        .check-cross {
          height: 28px;
          width: 28px;
          border-radius: 100%;
          transition: all ease 0.25s;
          display: flex;
          align-items: center;
          justify-content: center;

          &:hover {  
            background: #F6F6F6;
          }
        }
        .check {
          .svg-icon {
            fill: $success;
          }
        }
        .check-cross {
          .svg-icon {
            fill: $danger;
          }
        }
      }
    }
  }
}