$base-table-spaced: 'table-spaced';

.#{$base-table-spaced} {

  text-align: left;
  font-size: 0.9286rem;

  &__head {
    color: $primary;
    background: $white;
    display: flex;
    justify-content: space-between;
    box-shadow: $bd-box-shadow;
    margin-bottom: $grid-gutter-width * 0.72;
  }

  &__items {
    flex: 1;
    line-height: 15px;
    padding: $grid-gutter-width / 2 $grid-gutter-width;
    box-sizing: border-box;

    & ~ & {
      border-left: 1px solid $border-color;
    }
  }

  &__header-items {
    color: $primary;
  }

  &__body {
    display: flex;
    flex-direction: column;
    color: $body-color;
  }

  &__body-row {
    background: $white;
    display: flex;
    justify-content: space-between;
    box-shadow: $bd-box-shadow;
    margin-bottom: $grid-gutter-width * 0.28;
  }
}
