.choice-list{
  width: 211px;
  position: relative;
  color: $color-primary;
  font-weight: normal;
  text-align: left;
  &__field-selected{
    padding: 1rem;
    background-color: $color-white;
    box-shadow: $bd-box-shadow;
    font-size: $font-size-base;
    line-height: 1rem;
    @include flexbox;
    @include align-items(flex-start);
    @include justify-content(center);
    &__text-selected{
      padding-left: 1rem;
      flex: 1 auto;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    &__display-icon{
      svg {
        color: $color-primary;
        @include transition(.1s linear all);
      }
    }
    &:hover{
      cursor: pointer;
    }
  }
  &__list-options{
    padding: 0;
    width: 100%;
    position: absolute;
    top: 48px;
    left: 0;
    background-color: $color-white;
    box-shadow: $bd-box-shadow;
    list-style-type: none;
    z-index: 5000;
    .items-container{
      max-height: 322px;
      overflow-y: auto;
      &::-webkit-scrollbar{ width: 8px; }
      &::-webkit-scrollbar-thumb{ background-color: $color-primary; }
    }
    .items-container li{
      padding: 1rem 4px 1rem 1rem;
      cursor: pointer;
      @include transition(.16s linear all);
      &:hover, &.active{ background-color: $gray1; }
    }
  }
  &__search-item{
    padding: 4px;
    &:hover, &.active{ background-color: inherit; }
  }
  .highlight-option{
    background-color: #E0E6FF;
  }
  &__search-input{
    padding: 5px;
    min-width: 0 !important;
    @include font-size(12px);
  }
}
