.base-valid-delete {
  position: absolute;
  right: 0;
  bottom: 50%;
  height: 41px;
  width: 85px;
  background: $white;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  box-shadow: 0 2px 10px 0 rgba(0,0,0,.07);
  transform: translateY(50%);

  .check,
  .check-cross {
    height: 28px;
    width: 28px;
    border-radius: 100%;
    transition: all ease 0.25s;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &:hover {  
      background: #F6F6F6;
    }

    .svg-icon {
      margin: 0;
    }
  }
  .check {
    .svg-icon {
      fill: $success;
    }
  }
  .check-cross {
    .svg-icon {
      fill: $danger;
    }
  }
}