$base-cd-table: 'bd-table';

.#{$base-cd-table}{
  border: none;
  border-collapse: separate;
  border-spacing: 0 $grid-gutter-width / 2;
  text-align: left;
  @include font-size(13px);
  th, td{
    border: none;
    line-height: 1.8rem;
  }
  thead{
    color: $color-primary;
    th{
      border: none;
      font-weight: normal;
    }
  }
  tbody{
    tr{
      background-color: $color-white;
      @include transition(.15s linear all);
      img, svg{ margin-right: $grid-gutter-width / 2; }
      svg{
        color: $color-primary;
        cursor: pointer;
        @include transition(.15s linear all);
      }
      &:hover{ background-color: $gray3; }
      &.table-selected-row{
        background-color: $color-primary;
        color: $color-white;
        svg{ color: $color-white; }
      }
    }
  }
}
