$base-table-spaced: 'table-spaced';

.#{$base-table-spaced} {

  text-align: left;
  font-size: 0.9286rem;
  font-weight: normal;

  &__head {
    color: $primary;
    margin-bottom: $grid-gutter-width;
  }

  &__items {
    display: flex;
    align-items: center;
    padding: 10px 1%;
    word-break: break-word;

    @include media-breakpoint-up(md) {
      word-break: unset;
    }

    & ~ & {
      border-left: 1px solid $border-color;
    }

    .base-button-action {
      width: 100%;
      min-width: auto;
      max-width: 148px;
    }
  }

  &__header-items {
    color: $primary;
  }

  &__body {
    color: $body-color;
  }

  &__row {
    background: $white;
    display: flex;
    box-shadow: $bd-box-shadow;
    margin-bottom: $grid-gutter-width / 2;
  }
}
