$md-radio-checked-color: $color-primary;
$md-radio-border-color: rgba($color-black, .42);
$md-radio-size: 16px;
$md-radio-checked-size: 8px;

.base-input-radio{
  margin: 8px 0;
  input[type=radio]{
    display: none;
    &:checked + label:before{ border-color: $md-radio-checked-color; }
    &:checked + label:after{ @include transform(scale(1)); }
  }
  label{
    margin-bottom: 0;
    padding-left: $md-radio-size + 10px;
    height: $md-radio-size;
    position: relative;
    cursor: pointer;
    @include flexbox;
    @include align-items(center);
    &:before, &:after{
      position: absolute;
      content: '';
      border-radius: 50%;
      transition-property: transform, border-color;
      @include transition(all .3s ease);
    }
    &:before{
      width: $md-radio-size;
      height: $md-radio-size;
      left: 0;
      top: 0;
      border: 1px solid $md-radio-border-color;
    }
    &:after{
      width:$md-radio-checked-size;
      height:$md-radio-checked-size;
      top: $md-radio-size / 2 - $md-radio-checked-size / 2;
      left: $md-radio-size / 2 - $md-radio-checked-size / 2;
      background:$md-radio-checked-color;
      @include transform(scale(0));
    }
  }
}
