$base-upload-area: 'upload-area';

.#{$base-upload-area} {
  margin-bottom: -5px;

  .uppy-DragDrop-input {
    display: none;
  }

  .uppy-c-btn-primary{
    background-color: $color-primary !important;
  }

  .uppy-DragDrop-inner {
    padding: 0 !important;
    margin: -50px 0 0 0 !important;
  
    svg {
      display: none !important;
    }
  }

  .uppy-DragDrop-label {
    font-family: Roboto;
    font-weight: 500;
    color: #95989A;
  }

  button {
    border-color: #2F374A !important;
    background: #E8E8E8 !important;
    width: 100% !important;
    height: 108px !important;
  }
}