.base-checkbox {
  position: relative;
  display: inline-block;
  color: rgba(0, 0, 0, 0.87);
  cursor: pointer;
  font-family: "Roboto", "Segoe UI", BlinkMacSystemFont, system-ui, -apple-system;
  font-size: 14px;
  line-height: 18px;
}

.base-checkbox > input {
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  position: absolute;
  z-index: -1;
  left: -15px;
  top: -15px;
  display: block;
  margin: 0;
  width: 48px;
  height: 48px;
  background-color: $white;
  outline: none;
  opacity: 0;
  transform: scale(1);
  border-radius: 100%;
  -ms-transform: scale(0); /* Graceful degradation for IE */
  transition: opacity 0.5s, transform 0.5s;
}

.base-checkbox > input:checked {
  background-color: $white;
}

.base-checkbox:active > input {
  opacity: 1;
  transform: scale(0);
  transition: opacity 0s, transform 0s;
}

.base-checkbox > input:disabled {
  opacity: 0;
}

.base-checkbox > input:disabled + span {
  color: rgba(0, 0, 0, 0.38);
  cursor: initial;
}

.base-checkbox > span::before {
  content: "";
  display: inline-block;
  margin-right: 15px;
  border: solid 1px rgba(0, 0, 0, 0.42);
  width: 15px;
  height: 15px;
  vertical-align: -1px;
  transition: border-color 0.5s, background-color 0.5s;
}

.base-checkbox > input:checked + span::before {
  border-color: white;
  background-color: $primary;
}

.base-checkbox > input:active + span::before {
  border-color: #2196f3;
}

.base-checkbox > input:checked:active + span::before {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.42);
}

.base-checkbox > input:disabled + span::before {
  border-color: rgba(0, 0, 0, 0.26);
}

.base-checkbox > input:checked:disabled + span::before {
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.26);
}

.base-checkbox > span::after {
  content: "";
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
  width: 5px;
  height: 10px;
  border: solid 2px transparent;
  border-left: none;
  border-top: none;
  transform: translate(5.5px, 1px) rotate(45deg);
  -ms-transform: translate(5.5px, 2px) rotate(45deg);
}

.base-checkbox > input:checked + span::after {
  border-color: #fff;
}
