.model-preview{
  display: block;
  position: relative;
  overflow: hidden;
  .model-image-wrapper{
    margin: 0 auto;
    display: block;
    position: relative;
    overflow: hidden;
  }
  .model-image-holder{
    width: auto;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
    img{
      width: auto;
      height: 100%; 
    }
  }
  &-counter{
    position: absolute;
    top: 19px;
    right: 16px;
    color: $color-text;
    @include font-size(15px);
  }
}

.model-preview-controls{
  .model-control{
    width: 29px;
    height: 29px;
    position: absolute;
    bottom: -45px;
    border-radius: 100%;
    cursor: pointer;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include transition(all .25s ease);
    &:hover{
      background: $color-background;
      color: $color-primary;
    }
    &__left{
      right: 48px;
    }
    &__right{
      right: 11px;
    }
  }
  .model-control-button{
    width: 100%;
    position: absolute;
    left: 11px;
    top: 13px;
    text-align: center;
    z-index: 1;
    .btn{
      min-width: 85px;
      @include font-size(12px);
    }
  }
}
.model-preview-slider{
  position: relative;
}