.model-preview {
  width: 100%;
  position: relative;
  overflow: hidden;
  display: block;
  .model-image-wrapper {
    display: block;
    overflow: hidden;
    position: relative;
  }
  .model-image-holder {
    position: absolute;
    height: 100%;
    width: auto;
    left: 0;
    top: 0;
    img {
      height: 100%;
      width: auto;
    }
  }
}
