.choice-list {
  position: relative;
  color: $primary;
  width: 211px;
  font-weight: normal;
  text-align: left;
  &__field-selected {
    background-color: $white;
    box-shadow: $bd-box-shadow;
    font-size: $font-size-base;
    line-height: 1rem;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__text-selected {
      flex: 1 auto;
      padding-left: 1rem;
    }

    &__display-icon {
      svg {
        color: $primary;
        transition: .1s linear all;
      }
    }

    &:hover {
      cursor: pointer;
    }
  }

  &__list-options {
    box-shadow: $bd-box-shadow;
    position: absolute;
    top: 48px;
    left: 0;
    z-index: 500;
    width: 100%;
    list-style-type: none;
    padding: 0;
    background-color: $white;
    li {
      padding: 1rem;
      cursor: pointer;
      &:hover, &.active {
        background-color: #eeeeee;
      }
    }
  }
}
