$base-tree-select: 'base-tree-select';

.#{$base-tree-select}{
  color: $body-color;
  z-index: 500;
  width: 200px;
  height: 223px;
  overflow: hidden;
  background: $white;
  box-shadow: $bd-box-shadow;
  font-size: 0.714rem;
  border-radius: 4px;
  &__header{
    padding: 0 $grid-gutter-width - 1px;
    padding-left: $grid-gutter-width - 3px;
    height: 38px;
    background-color: $gray3;
    @include flexbox;
    @include align-items(center);
    svg{
      &:hover{
        cursor: pointer;
      }
    }
  }
  &__previous{
    margin-right: 11px;
  }
  &__close{
    margin-left: auto;
  }
  ul{
    margin: 0;
    padding: 0;
    height: calc(100% - 38px - 38px);
    list-style-type: none;
    overflow: auto;
    li{
      padding: 5.5px $grid-gutter-width - 1px 5.5px $grid-gutter-width - 1px;
      @include flexbox;
      @include align-items(center);
      @include justify-content(space-between);
      @include transition(.1s linear all);
      &:hover{
        background: $color-primary;
        color: $color-white;
        cursor: pointer;
        svg{
          color: $color-white;
        }
      }
      &.selected{
        background: $color-primary;
        color: $color-white;
        svg{
          color: $color-white;
        }
      }
    }
  }
  &__item-line{
    flex: 2 auto;
    @include flexbox;
    @include align-items(center);
    @include justify-content(flex-start);
    svg{
      margin-right: 11px;
      color: $color-primary;
    }
  }
  &__select-node{
    @include flexbox;
    @include align-items(center);
  }
  &__footer {
    height: 38px;
    padding: $grid-gutter-width / 2 $grid-gutter-width - 3px;
    box-shadow: $bd-box-shadow;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    .base-button-action{
      width: 100%;
      height: auto;
      text-transform: uppercase;
    }
    .text-destination{
      padding: 0.375rem 0;
    }
  }
}