$base-button-option: 'base-button-option';

.#{base-button-option} {
  &__tool {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    &:hover {
      cursor: pointer;
    }

    &.clicked {
      &:after {
        animation-name: circle;
        animation-duration: .5s;
      }
    }

    &:after {
      transition: .15s linear all;
      display: inline-block;
      content: '';
      width: 27px;
      height: 27px;
      border-radius: 50%;
      background-color: $primary;
      position: absolute;
      left: 0;
      top: 0;
      transform: scale(0);
    }
  }

  &__menu {
    color: $body-color;
    position: absolute;
    top: 25px;
    right: 7px;
    background: white;
    border-radius: 3px;
    box-shadow: $bd-box-shadow;
    padding: 8px 0;
    border: 1px solid $border-color;
    text-align: left;
    z-index: 250;
    width: 114px;
    ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
      z-index: 1500;
      li {
        padding: 7px 12px;
        line-height: 1em;
        color: #2F374A;

        &:hover {
          background: #F2F2F2;
        }
      }
    }
  }
}