.base-dropdown{
  .b-dropdown{
    &.show{
      .dropdown-toggle{
        background: $color-white;
        color: $color-primary;
        @include caretCustom(up);
      }
    }
  }
  .dropdown-toggle{
    height: 100%;
    background-color: $color-white;
    border: none;
    color: $color-primary;
    @include caretCustom(down);
    @include flexbox;
    @include align-items(center);
    @include font-size(12px);
    &:active{
      background-color: $color-white !important;  //override btn bootstrap style
      color: $color-primary !important; //override btn bootstrap style
    }
    &:after{
      width: auto;
      height: auto;
      border: none;
    }
  }
}
