$width-tree: 272px;
$width-lg-tree: 350px;

.dms {
  font-size: 0.92857143rem;
  position: relative;
  .dms_title {
    color: $primary;
    text-align: left;
    padding: $grid-gutter-width;
  }
}

.dms-container {
  padding: 10px;
}
.dms__toolbox-selected {
  display: flex;
  .toolbox-selected__content {
    justify-content: center;
    align-items: center;
    display: flex;
    height: 32px;
    text-align: left;
    background-color: white;
    box-shadow: $bd-box-shadow;
    font-size: 0.7143rem;
    & > div {
      padding-left: $grid-gutter-width;
      padding-right: $grid-gutter-width;

      &:hover {
        cursor: pointer;
      }
    }

    .dms__delete-button {
      color: #DD0243;
    }

    .dms__move-button {
      color: #FF8B03;

      .container-button-move-top {
        height: 32px;
        display: inline-block;
        line-height: 32px;
      }
    }

    .dms__download-button {
      color: $primary;
    }

    .dms__selected-display {
      color: $primary;

      .item-counter {
        display: inline-block;
        height: 15px;
        width: 15px;
        line-height: 16px;
        text-align: center;
        color: white;
        border-radius: 3px;
        background-color: $primary;
        margin-left: $grid-gutter-width / 2;
      }
    }
  }
}

.dms__toolbox {
  display: flex;

  .base-button-tool__container {
    position: relative;
  }

  .base-button-tool__container ~ .base-button-tool__container {
    margin-left: $grid-gutter-width / 2;
  }

  .dms__search {
    position: relative;
    margin-left: $grid-gutter-width / 2;
    box-shadow: $bd-box-shadow;
    display: flex;
    background-color: white;
    padding-left: $grid-gutter-width;
  }
  input {
    height: 32px;
    min-width: 0;
    width: 324px;
    border: none;
    box-sizing: border-box;
    box-shadow: none;
  }
}

.dms__content {
  padding-top: $grid-gutter-width;
  transition: .2s ease all;
  position: relative;
  height: 420px;

  .dms__tree-view {
    transition: .2s ease all;
    position: absolute;
    left: -500px;
    width: $width-tree;
    height: calc(100% - #{$grid-gutter-width});
    overflow: auto;

    @include media-breakpoint-up(lg) {
      width: $width-lg-tree;
    }
  }

  .dms__list-files {
    transition: .2s ease all;
    height: 100%;
    overflow: auto;
  }

  &.shrinked {
    transform: translateX($width-tree);
    width: calc(100% - #{$width-tree});
    padding-left: $grid-gutter-width;

    @include media-breakpoint-up(lg) {
      transform: translateX($width-lg-tree);
      width: calc(100% - #{$width-lg-tree});
    }

    .dms__tree-view {
      left: -$width-tree;

      @include media-breakpoint-up(lg) {
        left: -$width-lg-tree;
      }
    }
  }

  .dms__tree-view {
    width: $width-tree;
    min-width: $width-tree;

    @include media-breakpoint-up(lg) {
      width: $width-lg-tree;
      min-width: $width-lg-tree;
    }
  }

  .bd-table {
    width: 100%;
    min-width: 0;
    transition: .2s ease all;

    & > thead {
      & > tr {
        & > th {
          outline: none;
          line-height: 1em;

          &.sorting {
            &:before,
            &:after {
              display: none;
            }
          }
        }
      }
    }
    td {
      vertical-align: middle;
      line-height: 1em;
      word-break: break-all;
      &:nth-child(even), &:nth-child(odd){
        background: none;
      }
    }

    .table-name {
      width: 47%;
      min-width: 47%;

      &__name {
        cursor: pointer;
      }
    }
    .table-type {
      width: 10%;
      min-width: 10%;
    }
    .table-creator {
      width: 9%;
      min-width: 9%;
      padding-top: 0;
      padding-bottom: 0;
    }
    .table-date {
      width: 14%;
      min-width: 14%;
    }
    .table-size {
      width: 9%;
      min-width: 9%;
    }
  }

  .base-button-option__menu {
    width: 157px;

    ul {
      li {
        padding: 6px 12px;

        .svg-icon {
          margin-right: 10px;
        }
      }
    }

    &__remove {
      .base-valid-delete {
        .svg-icon {
          margin-right: 0;
        }
      }
    }
  }

  .base-checkbox {
    margin: 0;
    line-height: unset;
  }
}

.dms__tree-view {
  margin-right: $grid-gutter-width;

  .dms__tree-view-content {
    background-color: $white;
    box-shadow: $bd-box-shadow;
    font-size: 0.7143rem;
    height: 100%;
    overflow: auto;
    min-height: 100%;
  }

  .dms__tree-view-header {
    display: flex;
    justify-content: flex-end;
    padding: $grid-gutter-width / 2;

    .svg-icon {
      cursor: pointer;
    }
  }

  ul {
    margin: 0;
    padding: 0;
  }
  .dms__tree-folder-list {
    list-style-type: none;
    text-align: left;
    li {
      position: relative;
      list-style-type: none;
      svg {
        color: $primary;
        transition: .15s linear all;
      }
      .dms__line-tree-view {
        transition: .15s linear all;
        padding-left: $grid-gutter-width * 1.5;
        padding-top: 5px;
        padding-bottom: 5px;

        &:hover {
          background-color: #F2F2F2;
        }
      }

      .collapse-tree {
        transition: all 0.3s ease-in-out;
        will-change: height;
        overflow: hidden;
      }

      .dms__line-tree-view-content {
        position: relative;
        .folder-carret {
          transition: transform 0.3s ease-in-out;
          position: absolute;
          display: inline-block;
          content: '';
          border-top: 4px solid transparent;
          border-bottom: 4px solid transparent;
          border-left: 4px solid grey;
          width: 0px;
          height: 0px;
          top: 4px;
          left: -10px;
        }

        &__name {
          display: inline-block;
          vertical-align: middle;
          width: 87%;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          margin-left: 3px;
        }
      }

      &:hover {
        cursor: pointer;
      }
    }

    li.is-current-folder > .dms__line-tree-view {
      background-color: $primary;
      color: white;

      svg {
        color: white;
      }
    }

    li.is-current-path > .dms__line-tree-view > .dms__line-tree-view-content {
      transition: .3s ease all;
    }

    .is-folder-opened > .dms__line-tree-view > .dms__line-tree-view-content .folder-carret {
      transform: rotate(90deg);
    }
  }
}

.new_folder_box {
  transition: .15s ease all;
  position: absolute;
  top: 37px;
  left: 0;
  background-color: white;
  box-shadow: $bd-box-shadow;
  z-index: 100;
  text-align: left;
  padding: 11px;
  color: $primary;
  font-size: 0.786rem;
  z-index: 2;

  &.rename {
    left: -120%;
    top: 60px;

    @include media-breakpoint-up(md) {
      left: -110%;
    }
    @include media-breakpoint-up(xl) {
      left: -100%;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
  }

  .base-input-text-material {
    padding: 10px 0 26px 0;
    margin: 0;
    input {
      padding: 0;
      font-size: 0.786rem;
      color: #94979A;
    }
  }

  .new_folder_box__button-validation {
    flex: 1 auto;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    span {
      padding-left: $grid-gutter-width;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
        color: darken($primary, 10);
      }
    }
  }

  &.show {
    opacity: 1;
  }
}

.dms__move-button {
  position: relative;
  .base-tree-select {
    position: absolute;
    top: 27px;
  }
}
