.dms{
  .breadcrumb{
    margin: 0;
    color: $color-primary;
    box-shadow: $bd-box-shadow;
    font-family: $font-primary_medium;
    @include font-size(13px);
    ul{
      margin: 0;
      padding: 0;
      @include flexbox;
      li{
        padding: 0 $grid-gutter-width * 2 0 0;
        position: relative;
        list-style-type: none;
        a{
          cursor: pointer;
          &:hover{
            text-decoration: underline;
          }
          &:after{
            position: absolute;
            right: 9px;
            content: '>';
            display: inline-block;
          }
        }
      }
    }
  }
}
