.loader-redirect{
  background: $color-primary;

  .logo-container__logo{
    opacity: 1;
    animation: opacityblink 2s infinite;
  }
}
@keyframes opacityblink{
  0%{
    opacity: 0.4;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.4;
  }
}