/* This file is part of the BIMData Platform package.
(c) BIMData support@bimdata.io
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code. */
.loader-redirect{
  background: $color-primary;

  .logo-container__logo{
    opacity: 1;
    animation: opacityblink 2s infinite;
  }
}
@keyframes opacityblink{
  0%{
    opacity: 0.4;
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0.4;
  }
}
