.toolbar-page {
  margin-bottom: 26px;
  position: relative;
  .card-container{
    margin: 0;
  }
  .top-toolbar{
    &__choice-list-items{
      padding-right: $grid-gutter-width;
    }

    &__button-new-file  {
      svg {
        @include transition(.2s ease-in-out all);
      }

      @include media-breakpoint-up(md) {
        margin-left: auto;
      }
    }
    &__button-new-file.active svg{
      @include transform(rotate(135deg));
    }
  }
  .search-container{
    margin: 1rem 0;
    width: 216px;
    @include flexbox;
    @include align-items(center);

    @include media-breakpoint-up(sm){
      margin-top: 0;
      width: auto;
    }
    @include media-breakpoint-up(md){
      position: absolute;
      right: 187px;
    }
    .search-component{
      margin-left: auto;
    }
  }
  .base-button-action{
    height: 100%;
  }
}

.project-list,
.cloud-list,
.page-clouds {
  .top-toolbar {
    &__choice-list-items {
      margin: 0 auto;
      padding: 0;
      width: 216px;
      height: 100%;
      min-height: 44px;
      max-height: 44px;
    }
  }
}

.cloud-list{
  .top-toolbar{
    .choice-list__field-selected{
      cursor: initial;
    }
  }
}
