.toolbar-page {
  margin-bottom: 26px;

  .card-container {
    margin: 0;
  }

  .top-toolbar {
    &__choice-list-items {
      padding-right: $grid-gutter-width;
    }
  }

  .search-container {
    display: flex;
    align-items: center;

    @include media-breakpoint-up(sm) { 
      width: calc(100%/2);
    }
    @include media-breakpoint-up(md) { 
      width: auto;
      margin-right: 1rem;
    }
    @include media-breakpoint-up(xxl) { 
      margin-right: 2rem;
    }
  }
}

.project-list,
.cloud-list,
.page-clouds {
  .top-toolbar {
    &__choice-list-items {
      width: 216px;
      padding: 0;
      margin: 0 auto;
    }
  }
}

.cloud-list {
  .top-toolbar {
    .choice-list__field-selected {
      cursor: initial;
    }
  }
}
