/* This file is part of the BIMData Platform package.
(c) BIMData support@bimdata.io
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code. */
.toolbar-page{
  margin-bottom: 26px;
  position: relative;
  .card-container{
    &:not(:last-child) {
      margin: 0 14px 0 0;
    }

    margin: 0;
    width: auto;
  }
  .class-test{
    width: 50%;
    height: 44px;
    display: flex;
    justify-content: flex-end;
  }
  .top-toolbar{
    &__choice-list-items{
      padding-right: $grid-gutter-width;
    }

    &__button-new-file  {
      svg {
        @include transition(.2s ease-in-out all);
      }

      @include media-breakpoint-up(md) {
        margin-left: auto;
      }
    }
    &__button-new-file.active svg{
      @include transform(rotate(135deg));
    }
  }
  .search-container{
    margin: 0 14px 0 0;
    width: 216px;
    @include flexbox;
    @include align-items(center);

    @include media-breakpoint-up(sm){
      margin-top: 0;
      width: auto;
    }
    @media (min-width: 2000px) {
      right: 197px;
    }
    .search-component{
      margin-left: auto;
    }
  }
  .base-button-action{
    height: 100%;
    @include font-size(12px);
  }
}

.project-list,
.cloud-list,
.page-clouds {
  .top-toolbar {
    &__choice-list-items {
      margin: 0 auto;
      padding: 0;
      // width: 216px;
      height: 100%;
      min-height: 44px;
      max-height: 44px;
    }
  }
}

.cloud-list{
  .top-toolbar{
    .choice-list__field-selected{
      cursor: initial;
    }
  }
}
