.uploading-ifc-item {
    padding: 14px;
    margin-top: 11px;
    background: white;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.07);

    img {
        float: left;
    }

    .content {
        margin-left: 45px;

        #progress-bar {
            background: #E4E7EA;
            height: 4px;
    
            .done {
                background: #30374B;
                position: relative;
                height: 4px;
            }
        }
    
        .speed {
            float: right;
        }
    
        .cancel-btn {
            float: right;
            cursor: pointer;
        }
    }
}