.users-list {
  height: calc(399px + 1rem*2); //same size that .main-ifc
  overflow: hidden;

  &--large {
    .users-list__header {
      height: 50px;
    }
    .users-list__body {
      height: calc(100% - 50px);
    }
  }

  &__card {
    height: 100%;

    .base-card__content {
      padding: 0;
    }
  }
  &__header {
    box-shadow: $bd-box-shadow;
    padding: 3px 3px 3px 9px;
    display: flex;
    align-items: center;
    height: 32px;
    transition: height ease 0.25s;

    &--large {
      height: 50px;
    }

    .base-valid-delete {
      position: relative;
      box-shadow: none;
      right: unset;
      bottom: unset;
      transform: none;
      height: auto;
    }

    .svg-icon {
      color: $primary;
      cursor: pointer;
    }

    &__admin {
      padding: 9px 14px;
      padding-left: 26px;

      .btn {
        margin-left: 8px;
        max-width: 115px;
        min-width: 115px;
        font-weight: 100;
      }
      .base-button-icon {
        max-height: 32px;
        max-width: 32px;
        margin-left: 8px;
      }
    }

    &__right-container {
      margin-left: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;

      & > span {
        margin-left: 10px;
      }
    }

    &__search {
      display: flex;
      align-items: center;
      width: 100%;

      input {
        min-width: auto;
        width: 50%;
        max-width: 204px;
        border: 1px solid #F3F3F3;
        padding: 4px;
        max-height: 22px;

        &:focus {
          outline: none;
        }
      }
    }
    &__invitation {
      display: flex;
      align-items: center;
      width: 100%;

      input {
        min-width: auto;
        width: 100%;
        max-width: 204px;
        border: 1px solid #F3F3F3;
        padding: 7px 12px;

        &:focus {
          outline: none;
        }
      }

      &__actions {
        text-align: right;
        margin-left: auto;
        max-width: 20%;
        display: flex;
        align-items: center;

        .check-cross {
          .svg-icon {
            fill: $danger;
          }
        }
      }

      .rights-select {
        position: relative;
        max-width: 125px;
        width: 100%;
        border: 1px solid #F3F3F3;
        color: $primary;
        cursor: pointer;
        margin-left: 11px;
        display: flex;
        align-items: center;
        padding: 6px;
        padding-right: 15px;

        .arrow-down {
          position: absolute;
          right: 2px;
        }
        .base-button-option__menu {
          width: 167px;
          top: 26px;
          left: 0;

          ul {
            li {
              padding: 5px 8px;
            }
          }

          .base-input-radio {
            margin: 0;
            width: 100%;
          }
          label {
            padding-left: 0;

            &:before,
            &:after {
              display: none;
            }
          }
        }
      }
    }
    .account-plus {
      &.clicked {
        &:after {
          animation-name: circle;
          animation-duration: .5s;
        }
      }
    }
  }
  &__body {
    overflow-y: auto;
  }
  &__users {
    padding: 0;
    margin: 0;
    max-height: 397px;
    min-height: 397px;
  }
  &__user {
    display: flex;
    align-items: center;
    padding: 16px 9px 11px 12px;
    border-bottom: 1px solid rgba(148,151,154,0.08);
    
    &__picture {
      position: relative;
      overflow: hidden;

      .circle {
        height: 38px;
        width: 38px;
        border-radius: 100%;
      }
    }
    &__datas {
      color: $body-color;
      margin-left: 24px;
      font-size: 0.643rem;
      line-height: 0.9rem;

      .badge {
        margin-left: 19px;
        text-transform: capitalize;
      }

      & > * {
        display: inline-block;
        vertical-align: top;
      }

      p {
        margin-bottom: 0;

        & > * {
          display: block;
        }
      }

      a {
        text-decoration: underline;
      }
    }
    &__name {
      color: $primary;
      font-size: 0.8rem;
    }
    &__actions {
      margin-left: auto;
      position: relative;
      cursor: pointer;

      &__menu {
        .base-button-option__menu {
          width: 134px;
          font-size: 0.8rem;

          @include media-breakpoint-up(sm) {
            width: 184px;
          }
          @include media-breakpoint-up(lg) {
            width: 134px;
          }
          @include media-breakpoint-up(xl) {
            width: 184px;
          }

          li {
            justify-content: flex-end;
          }
          .svg-icon {
            margin-left: 10px;
          }
          .new_folder_box {
            width: 125px;
              left: -126px;
            top: 8px;

            @include media-breakpoint-up(sm) {
              left: -141px;
            width: 140px;
            }
            @include media-breakpoint-up(lg) {
              width: 125px;
              left: -126px;
            }
            @include media-breakpoint-up(xl) {
              left: -141px;
            width: 140px;
            }
          }

          &__remove {
            .delete__actions {
              .svg-icon {
                margin: 0;
              }
            }
          }
        }

        .arrow-left {
          &:before {
            content: '';
            width: 0;
            height: 0;
            border-style: solid;
            border-width: 4px 4px 4px 0;
            border-color: transparent $primary transparent transparent;
            margin-right: auto;
          }
        }
      }
    }

    &__status {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 10px;
      width: 10px;
      box-sizing: border-box;
      border: 1px solid $white;
      border-radius: 100%;

      &--inline {
        background: $bim-positive;
      }
      &--outline {
        background: $bim-negative;
      }
    }
  }

  &-modal {
    .close {
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 1;
    }

    &__input-mail {
      width: 100%;
      max-width: 302px;
      height: 32px;
      padding: 10px;
      border: 1px solid $border-color;
    }
  }
}