.users-list {
  height: calc(399px + 1rem*2); //same size that .main-ifc
  overflow: hidden;

  &--large {
    .users-list__header {
      height: 50px;
    }
    .users-list__body {
      height: calc(100% - 50px);
    }
  }

  &__card {
    height: 100%;
    .base-card__content{
      padding: 0;
    }
  }
  &__header{
    padding: 3px 3px 3px 9px;
    height: 32px;
    box-shadow: 0 2px 10px 0 rgba($color-black, .07);
    @include flexbox;
    @include align-items(center);
    @include transition(height ease .25s);

    &--large{
      height: 50px;
      box-shadow: $bd-box-shadow;
      @include flexbox;
      @include align-items(center);
    }
    .base-valid-delete{
      height: auto;
      position: relative;
      box-shadow: none;
      right: unset;
      bottom: unset;
      @include transform(none);
    }
    .svg-icon{
      color: $color-primary;
      cursor: pointer;
    }

    &__admin {
      padding: 9px 14px;
      padding-left: 26px;

      .btn {
        margin-left: 8px;
        max-width: 115px;
        min-width: 115px;
        font-weight: 100;
        @include font-size(13px);
      }
      .base-button-icon {
        max-height: 32px;
        max-width: 32px;
        margin-left: 8px;
      }
    }
    &__right-container{
      margin-left: auto;
      @include flexbox;
      @include align-items(center);
      @include justify-content(space-between);
      & > span{
        margin-left: 10px;
      }
    }
    &__search, &__invitation{
      width: 100%;
      @include flexbox;
      @include align-items(center);
      input{
        padding: 4px;
        &:focus{
          outline: none;
        }
      }
    }
    &__invitation{
      input{
        padding: 7px 12px;
        width: 100%;
        min-width: auto;
        max-width: 204px;
        border: 1px solid $gray3;

        &:focus{
          width: 50%;
          min-width: auto;
          max-width: 204px;
          max-height: 22px;
          border: 1px solid $gray3;
        }
      }
      &__actions{
        margin-left: auto;
        max-width: 20%;
        @include flexbox;
        @include align-items(center);

        .check-cross{
          .svg-icon{
            fill: $danger;
          }
        }
      }

      .rights-select{
        padding: 6px;
        margin-left: 11px;
        width: 30%;
        max-width: 125px;
        position: relative;
        border: 1px solid $gray3;
        color: $color-primary;
        cursor: pointer;
        
        @include flexbox;
        @include align-items(center);

        .arrow-down{
          position: absolute;
          right: 2px;
          text-align: right;
          @include flexbox;
          @include align-items(center);
        }
        .check{
          .svg-icon{
            fill: #28a745;
          }
        }
        .check-cross{
          .svg-icon{
            fill: #dc3545;
          }
        }
      }
      .base-button-option__menu{
        width: 167px;
        top: 26px;
        left: 0;
        ul{
          li{
            padding: 5px 8px;
          }
        }
        .base-input-radio{
          margin: 0;
          width: 100%;
        }
        label{
          padding-left: 0;
          &:before, &:after{
            display: none;
          }
        }
      }
    }
    .add-account{
      &.clicked{
        &:after{
          animation-name: circle;
          animation-duration: .5s;
        }
      }
    }
  }
  &__body{
    overflow-y: auto;
  }
  &__users{
    padding: 0;
    margin: 0;
    min-height: 397px;
    max-height: 397px;
  }
  &__user{
    padding: 16px 9px 11px 12px;
    border-bottom: 1px solid rgba($color-primary,.08);
    @include flexbox;
    @include align-items(center);
    &__picture{
      position: relative;
      overflow: hidden;
      .circle{
        height: 38px;
        width: 38px;
        border-radius: 100%;
      }
    }
    &__datas{
      margin-left: 24px;
      color: $color-text;
      line-height: 0.9rem;
      .badge {
        margin-left: 19px;
        text-transform: capitalize;
      }
      & > *{
        display: inline-block;
        vertical-align: top;
      }
      p{
        margin-bottom: 0;
        @include font-size(9px);
        & > *{
          display: block;
        }
      }
      a{
        text-decoration: underline;
      }
    }
    &__name{
      color: $color-primary;
      @include font-size(11px);
    }
    &__actions{
      margin-left: auto;
      position: relative;
      cursor: pointer;
      &__menu{
        .base-button-option__menu{
          width: 134px;
          @include font-size(12px);

          @include media-breakpoint-up(sm){
            width: 184px;
          }
          @include media-breakpoint-up(lg){
            width: 134px;
          }
          @include media-breakpoint-up(xl){
            width: 184px;
          }

          li{
            @include justify-content(flex-end);
          }
          .svg-icon{
            margin-left: 10px;
          }
          .new_folder_box{
            width: 125px;
            left: -126px;
            top: 8px;

            @include media-breakpoint-up(sm){
              width: 140px;
              left: -141px;
            }
            @include media-breakpoint-up(lg){
              width: 125px;
              left: -126px;
            }
            @include media-breakpoint-up(xl){
              width: 140px;
              left: -141px;
            }
          }
          &__remove{
            .delete__actions{
              .svg-icon{
                margin: 0;
              }
            }
          }
        }
        .arrow-left{
          &:before{
            margin-right: auto;
            width: 0;
            height: 0;
            content: '';
            border-color: transparent $primary transparent transparent;
            border-style: solid;
            border-width: 4px 4px 4px 0;
          }
        }
      }
    }
    &__status{
      width: 10px;
      height: 10px;
      position: absolute;
      bottom: 0;
      right: 0;
      border: 1px solid $white;
      border-radius: 100%;
      box-sizing: border-box;
      &--inline{
        background: $bim-positive;
      }
      &--outline{
        background: $bim-negative;
      }
    }
  }
  &-modal{
    .close{
      position: absolute;
      right: 10px;
      top: 10px;
      z-index: 1;
    }
    &__input-mail{
      margin-left: 14px;
      padding: 10px;
      width: 100%;
      height: 32px;
      max-width: 302px;
      max-width: 253px;
      border: 1px solid $border-color;
    }
  }
}