.page-projects {
  padding-bottom: 50px - $grid-gutter-width;

  .toolbar-page {
    padding: 0 1.8rem;
    .search-container {
      width: auto;
      margin: 0 14px 0 0;
      &--only {
        position: relative;
        right: auto;
        margin-bottom: 0;
      }
    }
    .margin-content{
      margin: 0 14px 0 0;
    }
  }

  .card-project {
    padding: 0;

    .card-bd__title {
      padding: 0;

      &:after {
        display: none;
      }
    }
    .card-bd__header {
      .icon-eye {
        cursor: pointer;
        transition: all ease 0.5s;

        &:hover {
          fill: $primary;
        }
      }
      .base-button-option__tool{
        &:hover{
          background-color: rgba($color-text,.2);
        }
      }
    }
    .card-bd__body {
      height: 61px;
      padding: 22px 27px;
    }
  }
}