.page-clouds{
  .card-new-cloud{
    position: absolute;
    left: -267px;
    opacity: 0;
    z-index: 0;
    @include transition(all 600ms ease-in-out 50ms);
    &.display-card{
      position: relative;
      left: 0;
      opacity: 1;
    }
  }
}