/* This file is part of the BIMData Platform package.
(c) BIMData support@bimdata.io
For the full copyright and license information, please view the LICENSE
file that was distributed with this source code. */
.page-clouds{
  .toolbar-page {
    padding: 0 1.8rem;
  }
  .card-new-cloud{
    position: absolute;
    left: -267px;
    opacity: 0;
    z-index: 0;
    @include transition(all 600ms ease-in-out 50ms);
    &.display-card{
      position: relative;
      left: 0;
      opacity: 1;
    }
  }
}
