.page-project {
  padding-bottom: 50px - $grid-gutter-width;

  .ged-card {
    background: #F8F8F9;
    max-height: 560px;
    overflow: hidden;

    .base-card__content {
      padding: 0;
    }
  }
  .table-spaced {
    &__items--body--state, &__items--header--state {
      justify-content: center;

      .loader-blobs {
        .blob,
        .blob-center {
          height: 10px;
          width: 10px;
        }
      }
    }
    &__items--header--actions {
      min-width: 209px;
    }

    &__items--body--name, &__items--header--name {
      padding-right: $grid-gutter-width;
    }
  }

  .card-project {
    padding: 0;

    .card-bd__title {
      padding: 0;


      &:after {
        display: none;
      }
    }
    .card-bd__header {
      .icon-eye {
        cursor: pointer;
        transition: all ease 0.5s;

        &:hover {
          fill: $primary;
        }
      }
    }
    .card-bd__body {
      height: 61px;
      padding: 22px 27px;
    }
  }

  .content-project {
    width: 100%;

    @include media-breakpoint-up(lg) {
      width: calc(100%/3 * 2 - 20px);
      margin-right: 20px;
    }

    .model-preview-slider {
      height: 338px;
      background: $bg-preview;
    }
  }
  .user-project {
    width: 100%;

    @include media-breakpoint-up(lg) {
      width: calc(100%/3 - 20px);
      margin-left: 20px;
    }
  }

  .main-ifc {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-up(md) {
      flex-direction: row;
      height: 399px;
    }

    &__map-info-content {
      width: 100%;
      margin-bottom: 21px;
      box-shadow: 0 2px 10px 0 rgba(0,0,0,0.07);

      @include media-breakpoint-up(md) {
        max-width: 327px;
        margin-right: 21px;
        margin-bottom: 0;
      }
    }

    &__info-project {
      width: 100%;
      margin-right: 0;
      height: 338px;
    }
    &__navigation-project {
      display: flex;
      align-items: center;
      height: 61px;
      padding: 16px 11px;

      &__title {
        width: 75%;
      }
    }

    &__map {
      width: 100%;
      margin: 0;
      position: relative;
      height: 379px;

      @include media-breakpoint-up(md) {
        height: 100%;
      }

      .map-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;

        &__container {
          border: 2px dashed $primary;
          height: 100%;
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: center;

          &__step {
            text-align: center;

            .svg-icon {
              color: $primary;
            }

            &--first {
              p {
                color: $primary;
                margin-top: 30px;
                margin-bottom: 34px;
                font-size: 0.929rem;
              }
            }
            &--second {
              & > div  {
                display: flex;
                flex-direction: column;
                align-items: center;
              }

              .base-input-text-material {
                margin-top: 25px;
                margin-bottom: 25px;
              }
            }
          }
        }
      }
      #base-map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }

    &__detail-content {
      width: 50%;
    }
  }
}
