.page-project {
  padding-bottom: 50px - $grid-gutter-width;

  .ged-card {
    background: #F8F8F9;
    max-height: 560px;
    overflow: hidden;

    .base-card__content {
      padding: 0;
    }
  }
  .table-spaced {
    &__items--body--state, &__items--header--state {
      justify-content: center;

      .loader-blobs {
        .blob,
        .blob-center {
          height: 10px;
          width: 10px;
        }
      }
    }
    &__items--header--actions {
      min-width: 209px;
    }

    &__items--body--name, &__items--header--name {
      padding-right: $grid-gutter-width;
    }
  }

  .main-ifc {
    display: flex;
    flex: 1 1;

    &__map-info-content {
      padding: $grid-gutter-width;
      display: flex;
      width: 50%;
      justify-content: stretch;
      align-items: center;
    }

    &__info-project {
      width: 50%;
      margin-right: 0;
    }

    &__map {
      width: 50%;
      height: 100%;
      margin: 0;
      position: relative;
      .map-wrapper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
      }
      #base-map {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
      }
    }

    &__detail-content {
      width: 50%;
    }
  }

  .top-toolbar__button-new-file svg {
    transition: .2s ease-in-out all;
  }

  .top-toolbar__button-new-file.active svg {
    transform: rotate(135deg);
  }
}
