.wrapper {
  display: flex;
  flex-flow: row wrap;
  font-weight: bold;
  text-align: center;
}

.wrapper > * {
  flex: 1 100%;
}

@media all and (min-width: 600px) {
  .aside { flex: 0 80px; }
}

@media all and (min-width: 800px) {
  .main    { flex: 5 0px; }
  .nav-menu { order: 1; }
  .main    { order: 2; }
}

.main {
  padding: $grid-gutter-width;
}