.user-menu{
  height: 60px;
  position: relative;
  @include flexbox;
  @include align-items(center);
  @include justify-content(flex-end);
  &__pic{
    $pic-size: 37px;
    width: $pic-size;
    height: $pic-size;
    min-width: $pic-size;
    display: inline-block;
    border-radius: 50%;
    background-color: $color-primary;
    color: $color-white;
    line-height: $pic-size;
    letter-spacing: 1px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    @include font-size(14px);
    &--big{
      $pic-size: 50px;
      width: $pic-size;
      height: $pic-size;
      min-width: $pic-size;
      line-height: $pic-size;
    }
  }
  &__action{
    cursor: pointer;
    @include flexbox;
    @include align-items(center);
    .user-menu__u{
      margin-left: 12px;
      &-fullname{
        margin-bottom: 0;
        color: $color-primary;
        @include font-size(14px);
      }
      &-email{
        color: $color-primary;
        @include font-size(13px);
      }
      &-picto{
        height: 24px;
        margin-left: 20px;
        .svg-fill{
          fill: $color-primary;
        }
      }
    }
  }
  &__d{
    width: -webkit-fill-available;
    position: absolute;
    top: 65px;
    right: -10px;
    background-color: $color-white;
    box-shadow: 0 2px 10px 0 rgba($color-black,0.1);
    z-index: 1;
    transition: all .4s ease-out;
    &::before{
      content: "";
      position: absolute;
      height: 15px;
      width: 15px;
      background-color: $color-white;
      right: 7%;
      top: -10%;
      transform: rotate(45deg);
      box-shadow: 0 2px 10px 0 rgba($color-black,0.1);
      z-index: -1;
    }
    &-content{
      padding: 8px 0;
      background-color: $color-white;
    }
  }
  .profile-item, .logout-item{
    padding: 7px 18px;
    cursor: pointer;
    color: $text-color;
    background-color: $color-white;
    outline: none;
    @include font-size(13px);
    span{
      margin-right: 18px;
    }
    &:hover{
      background-color: $color-background;
    }
  }
  .logout-item{
   svg{
     path:first-child{
       fill: none;
     }
   } 
  }
}