.header {
  height: $header-height;
  background-color: white;
  @include bm-box-shadow;
  padding: $grid-gutter-width $grid-gutter-width * 2;

  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }
}

.logo-container {
  flex-basis: $header-height;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: stretch;

  &__item {
    display: flex;
    align-items: center;
    position: relative;

    a {
      padding: $grid-gutter-width;
      display: flex;
      align-self: stretch;
      align-items: center;
      &:hover {
        text-decoration: none;
      }
    }

    &:after {
      display: inline-block;
      content: '';
      opacity: 0;
      width: 100%;
      height: 3px;
      background-color: $primary;
      position: absolute;
      left: 0;
      bottom: -6px;
      transition: .3s ease all;
    }

    &:hover {
      &:after {
        opacity: 1;
      }
    }
  }
}