.user-menu{
  height: 60px;
  @include flexbox;
  @include align-items(center);
  @include justify-content(flex-end);
  &__pic{
    $pic-size: 37px;
    width: $pic-size;
    height: $pic-size;
    min-width: $pic-size;
    display: inline-block;
    border-radius: 50%;
    background-color: $color-primary;
    color: $color-white;
    line-height: $pic-size;
    letter-spacing: 1px;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    @include font-size(14px);
    &--big{
      $pic-size: 50px;
      width: $pic-size;
      height: $pic-size;
      min-width: $pic-size;
      line-height: $pic-size;
    }
  }
  &__u{
    &-info{
      padding: 10px 8px;
      @include flexbox;
      @include align-items(center);
      &--details{
        padding-left: 15px;
        width: 100%;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
    }
    &-fullname{
      margin-bottom: 0;
      color: $text-color;
      @include font-size(12px);
    }
    &-email{
      margin-bottom: 9px;
      color: $gray4;
      @include font-size(10px);
    }
  }
  .dropdown-menu{
    margin-top: 9px;
    width: 200px;
    background-color: $color-white;
    border: none;
    @include bm-box-shadow;
    &:after{
      margin-left: 1.1em;
    }
    .dropdown-item{
      background-color: $color-white;
      outline: none;
    }
  }
  .logout-item{
    padding: 5px 0;
    cursor: pointer;
    color: $text-color;
    outline: none;
    text-align: center;
    @include font-size(10px);
  }
  .dropdown-menu .btn{
    width: 100%;
    min-width: auto;
    @include font-size(9px);
  }
}
