.user-menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 60px;

  &__pic {
    $pic-size: 37px;
    display: inline-block;
    min-width: $pic-size;
    width: $pic-size;
    height: $pic-size;
    line-height: $pic-size;
    border-radius: 50%;
    background-color: #30374B;
    color: $white;
    text-align: center;
    font-weight: normal;
    font-size: 1rem;
    letter-spacing: 1px;
    &--big {
      $pic-size: 50px;
      min-width: $pic-size;
      width: $pic-size;
      height: $pic-size;
      line-height: $pic-size;
    }
  }

  &__u {
    &-info {
      padding: 10px 8px;
      display: flex;
      align-items: center;

      &--details {
        padding-left: 15px;
        white-space: nowrap;
        text-overflow: ellipsis;
        width: 100%;
      }
    }
    &-fullname {
      margin-bottom: 0;
      color: $text-color;
      font-size: 12px;
    }
    &-email {
      font-size: 10px;
      color: #959595;
      margin-bottom: 9px;
    }
  }

  .dropdown-menu {
    width: 200px;
    border: none;
    background-color: white;
    margin-top: 9px;
    @include bm-box-shadow;

    &:after {
      margin-left: 1.1em;
    }

    .dropdown-item {
      background-color: white;
      outline: none;
    }
  }

  .logout-item {
    text-align: center;
    cursor: pointer;
    outline: none;
    color: $text-color;
    padding: 5px 0;
    font-size: 10px;
  }

  .dropdown-menu .btn {
    min-width: auto;
    width: 100%;
    font-size: 9px;
  }
}
