#login-layout {
  min-height: 100vh;
}

.login {
  width: 100%;
  .card-body {
    padding: $grid-gutter-width / 2;
    @include media-breakpoint-up(sm) {
      padding: $grid-gutter-width * 2;
    }
  }
}

.login__forgot-password {
  font-size: 0.8571rem;
  text-align: right;
  color: $body-color;
  padding-top: 0.8571rem;
}

.login__account-link {
  margin-bottom: 0;
}